---
title: Rails Girls
page: index
---
<%
past_events = data.events.find_all { |k, v| v.end_date < Date.today }
upcoming_events =  data.events.find_all { |k, v| v.start_date >= Date.today }.sort { |a,b| a.last.start_date <=> b.last.start_date }
volunteer_count = data.events.reduce(0) { |t,e| t + e.last.volunteers.count }
%>
<section class="header">
  <article class="buttons">
    <a class="button rg-red">Join an event</a>
    <a class="button grey">Organize an event</a>
  </article>
</section>

<section class="container get-started">
  <article class="intro">
    <h1>Rails Girls - Get started with tech</h1>
    <p>
      I've had twelve years to think about it. And if I had it to do over again, I would have grabbed the phaser and pointed it at you instead of them. Talk about going nowhere fast. A surprise party? Mr. Worf, I hate surprise parties. I would *never* do that to you. What? We're not at all alike! Sorry, Data. Fate protects fools, little children and ships named Enterprise. Ensign Babyface! Did you come here for something in particular or just general Riker-bashing? Well, that's certainly good to know. How long can two people talk about nothing?
    </p>
  </article>
  <article class="counters">
    <div class="counter">
      <span class="top">Past</span>
      <span class="count"><%= past_events.count %></span>
      <span class="bottom">events</span>
    </div>
    <div class="counter">
      <span class="top">Upcoming</span>
      <span class="count"><%= upcoming_events.count %></span>
      <span class="bottom">events</span>
    </div>
    <div class="counter">
      <span class="top">Amazing</span>
      <span class="count">1106</span>
      <span class="bottom">volunteers</span>
    </div>
  </article>
  <article class="blocks">
    <div class="summer-of-code">
      <h2>Rails Girls Summer of Code</h2>
      <p>
        Smooth as an android's bottom, eh, Data? I'll alert the crew. A lot of things can change in twelve years, Admiral. Your head is not an artifact! About four years. I got tired of hearing how young I looked. I suggest you drop it, Mr. Data. Why don't we just give everybody a promotion and call it a night - 'Commander'? Mr. Crusher, ready a collision course with the Borg ship. My oath is between Captain Kargan and myself.
      </p>
    </div>
    <div class="diversity-tickets">
      <h2>Diversity tickets</h2>
      <p>
        I'm afraid I still don't understand, sir. Wait a minute - you've been declared dead. You can't give orders around here. For an android with no feelings, he sure managed to evoke them in others. You did exactly what you had to do. You considered all your options, you tried every alternative and then you made the hard choice. 
      </p>
    </div>
  </article>
  <article class="upcoming-events">
    <h1>Upcoming events</h1>
    <div class="events">
      <% upcoming_events.each do |k, event| %>
        <a class="event" href="/events/<%= k %>.html">
          <img src="<%= event.image_url || '/images/railsgirls-sq.png' %>">
          <h3 class="title"><%= event.title %></h3>
          <span class="dates"><%= event.custom_date || format_event_dates(event) %></span>
        </a>
      <% end %>
    </div>
  </article>
</section>